@media screen and (min-width: 1000px) {
    .sideorder {
        width: 15%;
        height: 100%;
        background-color: #333030;
        padding-bottom: 70px;
        display: block;
        position: fixed;
        z-index: 0;
        top: 0;
        right: 0;
    }

    .order__button {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .sideorder {
        width: 0px;
        height: 100%;
        background-color: #333030;
        display: block;
        position: fixed;
        z-index: 1110;
        top: 0;
        right: 0;
        transition: 0.5s;
    }

    .order__button {
        right: 0;
        top: 0;
        position: fixed;
        z-index: 1111;
    }
}